<!--footer partial-->
<footer class="footer bg-info text-muted text-center navbar-bottom">
    <div class="container">
    <div class="row">
        
    <div class="col-sm-4">
        <address>
            <strong>VR World, Inc.</strong><br>
              Mayor Street, IFSC<br>
              Dublin 1, D01 Y300<br>
            <strong>Phone: </strong>(123) 456-7890<br>
            <strong>Email: </strong><a href="mailto:info@vrworld.ie">info@vrworld.ie</a>
       </address>
       
    </div>
    <div class="col-sm-4 bg-info">
        <p>
            What people love about Virtual Reality is the ability to be transported into another 
            world. If you've never tried Virtual Reality before then:  
        </p>
        <p class="text-uppercase"> Log in or sign up and book your session now!</p>
    </div>
    <div class="col-sm-4 bg-info">
        
        <ul class="list-unstyled list-inline list-social-icons ">
        <li><a href="http://www.facebook.com" class="btn btn-lg"><%= icon('facebook', class: 'strong')%></a></li>

	    <li><a href="http://www.twitter.com" class="btn btn-lg"><%= icon('twitter', class: 'strong')%></a></li>

        <li><a href="http://www.youtube.com" class="btn btn-lg"><%= icon('youtube', class: 'strong')%></i> </a></li>
        </ul>
    </div>
    </div>
    </div>
</footer>