<nav class="nav navbar-inverse">
	<div class="nav navbar-header text-uppercase">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myCollapsingList">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		
		<%= image_tag("logo.png", alt: "VR logo", class:'navbar-brand img-responsive') %>
		
		<a class="navbar-brand" href="/">VR World</a>
	</div>
	<div class="collapse navbar-collapse" id="myCollapsingList">
		
		<ul class="nav navbar-nav navbar-right">
			<li >
				<a href="/">Home</a>
			</li>
			
			<li>
				<a href="/zones">Zones</a>
			</li>
			
			
			<li> <a href="/contact">Contact Us</a></li>
			
			<%= render '/shared/logindetails'%>
			
			
			
		</ul>
	</div>

</nav>